*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topbar{
    background-color: lightseagreen;
    height: 55px;
}
.header1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}
.header1 .top-class{
    text-decoration: none;
}
.devices .mobile{
    cursor: pointer;
    height: 32px;
    width: 32px;
}
.devices .tablet{
    cursor: pointer;
    height: 32px;
    width: 32px;
}
.devices .desktop{
    cursor: pointer;
    height: 32px;
    width: 32px;
}
.cart{
    padding: 8px 2px;
}
.addtocart{

    cursor: pointer;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 5px 10px;
    background-color: green;
    border-radius: 5px;
}
.unlimited{
    cursor: pointer;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 3px 10px;
    background-color: white;
    border-radius: 5px;
}
.carts{
    cursor: pointer;
    height: 32px;
    width: 32px;
}

.container{
    height: 100%;
    width: 100%;
    overflow-x: none;
    /* background-color: beige; */
    background-color: #2a2a2a;
}

.navContainer{
    width: 100vw;
    /* background-color: rgba(113, 113, 154, 0.776); */
    background-color: #2a2a2a;
    box-shadow: 0 2px 20px;

    min-height: 80px;
    display: flex;
    justify-content:center;
    align-items:center;
    position: relative;
}

nav{
    width: 100%;
}
#navList{
    width: 100%;
    padding: 15px;
    /* margin-left: 15px;
    margin-right: 15px; */
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navLogo{
    font-size: 2.8rem;
    color: azure;
}

a{
    text-decoration: none;
    color: azure;
}
#navItems{
    display: flex;
    gap: 30px;

}
#navItems .submenu{
    display: none;
    position: absolute;
}

#navItems :hover ul.submenu{
    display: block;
    transition: 0.3s;
}
#navItems a:hover{
    border-bottom: 2px solid red;
}


.sell{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30rem;
    gap: 10px;
    height: 80px;
    background-color: white;
}
.text{
    align-items: center;
    gap: 10px;
    font-size: 30px;
    color: red;
}
.buttonSell{
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 30px;
    padding: 15px 70px;
    color: #ffffff;
    background-color: red;
}

.hero1{
    position: relative;
}
.container.img{
    height: 100px;
    width: 10px;
    padding-top: 10px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h2{
    font-size: 60px;
    color: red;
  }
  p{
    font-size: 18px;
    padding-top: 10px;
  }
  
#services{
    padding-top: -20px 40px;
    background-color: white;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.service-list div{
    background: #262626;
    /* background-color: white; */
    padding: 40px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    transition:  0.5s transform 0.5s;
}
.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.service-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

.about h2{
    font-size: 65px;
    text-align: center;
    padding-top: 90px;
}
.about p{
    font-size: 30px;
    text-align: center;
}
.about-section{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-left: 6rem;
    margin-right: 6rem;
}
.about-left{
    padding-top: 30px;
    margin-right: 2.5rem;
}
.about-right{
    padding-top: 25px;
}
.about-right p{
    font-size: 20px;
}
.about-right i{
    padding-top: 16px;
}
.about-right ul li{
    padding-top: 20px;
    list-style: none;
    font-size: 22px;
}

.slider img {
    width: 100px;
    height: 100px;
    animation: scroll 60s linear infinite;
  }
  
  .slide-track {
    width: 100%;
    display: flex;
    gap: 3em;
    overflow: hidden;
  }
  
  .slider {
    margin-top: 70px;
    padding: 8em 2em;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translatex(-1000%);
    }
  }
  
  .center{
    position: absolute;
    top: 330%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
  }
  .center p{
    padding-left: 30px;
    color: blue;
    padding-bottom: 20px;
  }
  .center button{
    text-align: center;
    border: 3px solid red;
    outline: none;
    font-size: 35px;
    border-radius: 50px;
    padding: 10px 25px;
    background-color: transparent;
    color: black;
  }
  .button{
    padding-left: 150px;
  }
  .center button:hover{
    background-color: #ff004f;
    transition-duration: 1s;
  }
.responsive-cell-block {
    min-height: 75px;
  }
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 25px;
    height: 50%;
    width: 100%;
  }
  
  img {
    object-fit: cover;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .responsive-container-block.bg {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1320px;
    margin: 50px 0 50px 0;
  }
  
  .text-blk.title {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 36px;
    line-height: 45px;
    font-weight: 900;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin: 0 0 15px 0;
  }
  
  * {
    font-family: Nunito, sans-serif;
  }
  
  .text-blk.desc {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    height: auto;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    max-width: 750px;
  }
  
  .responsive-container-block.blocks {
    width: 100%;
    min-height: 0px;
    justify-content: space-between;
    max-width: 1320px;
  }
  
  .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content {
    width: 30%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .text-blk.info-block {
    width: 85%;
    height: auto;
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin: 30px 0 30px 0;
  }
  
  .responsive-container-block.person {
    width: 90%;
    min-height: 0px;
    height: auto;
    margin-top: 0px;
    margin-right: 31.25px;
    margin-bottom: 20px;
    margin-left: 31.25px;
  }
  
  .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.icon-block {
    width: 22%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.text-block {
    width: 78%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .text-blk.name {
    font-size: 18px;
    line-height: 20px;
    font-weight: 900;
    height: auto;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }
  
  .text-blk.desig {
    line-height: 16px;
    height: auto;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  
  .profile-img {
    width: 60px;
    height: 60px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .responsive-container-block.big-container {
    justify-content: center;
    padding: 0 50px 0 50px;
  }
  
  @media (max-width: 1024px) {
    .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content {
      width: 47%;
    }
  
    .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content.bottom {
      margin-top: 5%;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 25%;
    }
  
    .text-blk.desc {
      width: 70%;
    }
  
    .responsive-container-block.person {
      margin-top: 5%;
      margin-right: 31.25px;
      margin-bottom: 0px;
      margin-left: 31.25px;
    }
  
    .text-blk.title {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .responsive-container-block.person {
      margin-top: 21.9375px;
      margin-right: 31.25px;
      margin-bottom: 20px;
      margin-left: 31.25px;
    }
  
    .text-blk.info-block {
      margin-top: 30px;
      margin-right: 0px;
      margin-bottom: 25px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 768px) {
    .responsive-container-block.person {
      margin-top: 0px;
      margin-right: 31.25px;
      margin-bottom: 0px;
      margin-left: 31.25px;
    }
  
    .text-blk.info-block {
      height: 50%;
      font-size: 17px;
    }
  
    .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content {
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 5%;
      margin-left: 0px;
    }
  
    .text-blk.desc {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
      width: 85%;
      font-size: 17px;
    }
  
    .text-blk.title {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      font-size: 30px;
    }
  
    .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content.bottom {
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .responsive-container-block.blocks {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .responsive-container-block.bg {
      flex-wrap: nowrap;
    }
  
    .responsive-container-block.person {
      margin-top: 0px;
      margin-right: 31.25px;
      margin-bottom: 20px;
      margin-left: 31.25px;
    }
  
    .text-blk.info-block {
      margin-top: 30px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }
  
    .text-blk.desc {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }
  
    .text-blk.desig {
      font-size: 15px;
    }
  
    .text-blk.name {
      font-size: 17px;
    }
  }
  
  @media (max-width: 500px) {
    .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content {
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 8%;
      margin-left: 0px;
    }
  
    .text-blk.desc {
      width: 90%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      font-size: 16px;
      line-height: 24px;
    }
  
    .text-blk.title {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      font-size: 26px;
    }
  
    .text-blk.info-block {
      margin-top: 30px;
      margin-right: 0px;
      margin-bottom: 50px;
      margin-left: 0px;
      font-size: 16px;
      line-height: 26px;
      margin: 30px 0 20px 0;
    }
  
    .text-blk.desc {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }
  
    .responsive-container-block.big-container {
      padding: 0 30px 0 30px;
    }
  
    .text-blk.name {
      font-size: 17px;
    }
  
    .text-blk.desig {
      font-size: 15px;
    }
  }

  *,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}

.name h2{
    font-size: 35px;
    text-align: center;
    margin-top: 3rem;
}
.name p{
    text-align: center;
    font-size: 25px;
    margin-top: 2rem;
}
.feature-grid{
    display: grid;
    gap: 1.7rem;
    grid-template-columns: repeat(4,1fr);
    margin-top: 1.5rem;
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 0.9rem;
    gap: 1rem;
}
.icon-container{
    width: 250px;
    height: 250px;
}
/* .feature-card:nth-child(1){
    background-color: #4a90e2;
}
.feature-card:nth-child(2){
    background-color: #FF6289;
}
.feature-card:nth-child(3){
    background-color: #fcbf58;
}
.feature-card:nth-child(4){
    background-color: #44bfc3;
}
.feature-card:nth-child(5){
    background-color: #77b05d;
}
.feature-card:nth-child(6){
    background-color: #7d78b1;
} */

@media (max-width:1200px) {
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }
}

h2 {
    margin-bottom: 10px;
    text-align: center;
    margin-top: 5rem;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    margin: 10px 0;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    box-sizing: border-box;
    margin-left: 8rem;
}

.active,
.accordion:hover {
    background-color: white;
    border: 1px dashed deepskyblue;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-left: 8rem;
}

.main_cont{
    display: grid;
    gap: 1.2rem;
    /* grid-template-columns: repeat(1,1fr); */
    grid-template-columns: repeat(auto-fit,minmax(270px,250px));
    justify-content: center;
}

/* @media (min-width:935px) {
    .main_cont{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:1080px) {
    .main_cont{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width:1340px) {
    .main_cont{
        grid-template-columns: repeat(4,1fr);
    }
} */

.card_container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid rgb(205, 199, 199);
    border-radius: 8px;
}

.img_container{
    position: relative;
    overflow: hidden;
    height: 7rem;
}

@media (min-width:760px) {
    .img_container{
        height: 16rem;
    }
}
.card_img{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 0.9rem;
    
}

.card_container:hover .card_img{
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card_title{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin: 0.5rem;
    color: rgb(49, 45, 45);
}
.card_link:hover .card_title{
    color: rgb(37, 37, 161);
}

.card_desc{
    color: rgb(73, 65, 65);
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

.card_footer_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding:0rem,1.5rem;
    padding-bottom: 1.2rem;
}

.author_container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author_info_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.author_info_container .name{
    color: rgb(41, 41, 68);
    margin-left: 10px;
    
}

.author_info_container .date{
    color: gray;
    margin-left: 10px;
    
}

.card_tag_container{
    font-size: 0.9rem;
    border: 1px solid rgb(102, 98, 98);
    border-radius: 4px;
    /* padding: 0.2rem,0.9rem; */
    margin-right: 0.8rem;
    line-height: 1.2rem;
    color: gray;
}

.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    height: 15rem;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }